<mat-toolbar color="primary">
  <div class="toolbar-content">
    <!-- Logo da aplicação -->
    <img src="https://res.cloudinary.com/duposs86e/image/upload/v1730934427/trampa-aqui-logo_za3yfx.png" alt="Trampa Aqui Logo" class="logo">
    <!-- Espaçador -->
    <span class="spacer"></span>

    <!-- Navegação -->
    <nav>
      <a mat-button routerLink="/ver-vagas">VER VAGAS</a>
      <a mat-button routerLink="/sou-empresa">SOU EMPRESA</a>
      <a mat-button routerLink="/login">LOGIN</a>
      <a mat-button routerLink="/cadastrar-se">CADASTRAR-SE</a>
    </nav>
  </div>
</mat-toolbar>
