<div class="div-img">
    <img src="https://res.cloudinary.com/duposs86e/image/upload/v1730950824/devs_dz1go7.png" alt="Devs">
    <div class="overlay-text">
      <h1>OPORTUNIDADES PARA<br>PROGRAMADOR</h1>
      <button class="btn-vagas" aria-label="Ver nossas vagas para programadores">VER NOSSAS VAGAS</button>
      <p class="p-acesso">Tenha acesso a diversas oportunidades para desenvolvedores.<br>
         Encontre a vaga para programador(a) Front-End, Back-End, Mobile ou Full Stack que você estava procurando.</p>
    </div>
  </div>
  