<main>
  <section>
    <div class="div-img">
      <img src="https://res.cloudinary.com/duposs86e/image/upload/v1730950824/devs_dz1go7.png" alt="Devs">
      <div class="overlay-text">
        <h1>OPORTUNIDADES PARA </h1>
        <h1>PROGRAMADOR <span class="trocaPalavra">{{ palavraAtual }}</span></h1>
        <button class="btn-vagas" routerLink="/ver-vagas">VER NOSSAS VAGAS</button>
        <p class="p-acesso">Tenha acesso a diversas oportunidades para desenvolvedores.<br>
          Encontre a vaga para programador(a) Front-End, Back-End, Mobile ou Full Stack que você estava procurando.</p>
      </div>
    </div>
  </section>
  <section class="section-quality">
    <div>
      
      <h5><mat-icon class="icon">check_circle</mat-icon>Só para programadores</h5>
      <p>
        Somos uma plataforma 100% dedicada ao <span>recrutamento de programadores</span>.
      </p>
    </div>
    <div>
     
      <h5><mat-icon class="icon">check_circle</mat-icon>100% gratuito</h5>
      <p>
        Basta se cadastrar e completar o perfil para se candidatar <span>gratuitamente</span> a qualquer vaga compatível com você.
      </p>
    </div>
    <div>
      <h5><mat-icon class="icon">check_circle</mat-icon>Alertas de Matching</h5>
      <p>
        Nosso sistema de matching permite que você <span>seja notificado</span> apenas em casos de compatibilidade com uma nova vaga.
      </p>
    </div>
  </section>

  <section class="latest-job">
    <div>
      <h1>Nossas últimas vagas!</h1>
    </div>
    <div class="div-vagas">
      <div></div>
      <div></div>
      <div></div>
    </div>
    <div><button class="btn-vagas" routerLink="/ver-vagas">VER TODAS AS VAGAS</button></div>
  </section>

</main>
