<main>
  <section>
    <div class="div-img">
      <img src="https://res.cloudinary.com/duposs86e/image/upload/v1730950824/devs_dz1go7.png" alt="Devs">
      <div class="overlay-text">
        <h1>OPORTUNIDADES PARA </h1>
        <h1>PROGRAMADOR <span class="trocaPalavra">{{ palavraAtual }}</span></h1>
        <button class="btn-vagas" routerLink="/ver-vagas">VER NOSSAS VAGAS</button>
        <p class="p-acesso">Tenha acesso a diversas oportunidades para desenvolvedores.<br>
          Encontre a vaga para programador(a) Front-End, Back-End, Mobile ou Full Stack que você estava procurando.</p>
      </div>
    </div>
  </section>
  <section class="section-quality">
    <div>

      <h5><mat-icon class="icon">check_circle</mat-icon>Só para programadores</h5>
      <p>
        Somos uma plataforma 100% dedicada ao <span>recrutamento de programadores</span>.
      </p>
    </div>
    <div>

      <h5><mat-icon class="icon">check_circle</mat-icon>100% gratuito</h5>
      <p>
        Basta se cadastrar e completar o perfil para se candidatar <span>gratuitamente</span> a qualquer vaga compatível
        com você.
      </p>
    </div>
    <div>
      <h5><mat-icon class="icon">check_circle</mat-icon>Alertas de Matching</h5>
      <p>
        Nosso sistema de matching permite que você <span>seja notificado</span> apenas em casos de compatibilidade com
        uma nova vaga.
      </p>
    </div>
  </section>

  <section class="vaga-container">
    <div>
      <h3>Nossas últimas vagas!</h3>
    </div>
    <div class="vaga-grid">

      <mat-card class="vaga-card">
        <div class="vaga-avatar">
          <div mat-card-avatar>
            <img class="img-avatar"
              src="https://res.cloudinary.com/duposs86e/image/upload/v1731018683/hpcugjkjnvtbpzlzhx1q.jpg_ktaoll.png"
              alt="Logo Empresa">
          </div>
        </div>
        <mat-card-header class="mat-header">
          <mat-card-title class="mat-header">Desenvolvedor(a) Flutter / React</mat-card-title>
        </mat-card-header>
        <mat-card-content class="mat-content">
          <p>Capitan Group - Grande empresa</p>
          <p>Home Office</p>
          <p>Salário: R$3K</p>
          <div class="tags">
            <span class="tag">Q1</span>
            <span class="tag">React Native</span>
            <span class="tag">Flutter</span>
          </div>
        </mat-card-content>
      </mat-card>

      <mat-card class="vaga-card">
        <div class="vaga-avatar">
          <div mat-card-avatar>
            <img class="img-avatar"
              src="https://res.cloudinary.com/duposs86e/image/upload/v1731018683/hpcugjkjnvtbpzlzhx1q.jpg_ktaoll.png"
              alt="Logo Empresa">
          </div>
        </div>
        <mat-card-header class="mat-header">
          <mat-card-title class="mat-header">Desenvolvedor(a) Flutter / React</mat-card-title>
        </mat-card-header>
        <mat-card-content class="mat-content">
          <p>Capitan Group - Grande empresa</p>
          <p>Home Office</p>
          <p>Salário: R$3K</p>
          <div class="tags">
            <span class="tag">Q1</span>
            <span class="tag">React Native</span>
            <span class="tag">Flutter</span>
          </div>
        </mat-card-content>
      </mat-card>

      <mat-card class="vaga-card">
        <div class="vaga-avatar">
          <div mat-card-avatar>
            <img class="img-avatar"
              src="https://res.cloudinary.com/duposs86e/image/upload/v1731018683/hpcugjkjnvtbpzlzhx1q.jpg_ktaoll.png"
              alt="Logo Empresa">
          </div>
        </div>
        <mat-card-header class="mat-header">
          <mat-card-title class="mat-header">Desenvolvedor(a) Flutter / React</mat-card-title>
        </mat-card-header>
        <mat-card-content class="mat-content">
          <p>Capitan Group - Grande empresa</p>
          <p>Home Office</p>
          <p>Salário: R$3K</p>
          <div class="tags">
            <span class="tag">Q1</span>
            <span class="tag">React Native</span>
            <span class="tag">Flutter</span>
          </div>
        </mat-card-content>
      </mat-card>
  
    </div>
    <div><button class="btn-vagas" routerLink="/ver-vagas">VER TODAS AS VAGAS</button></div>
  </section>

  <section>
    <div><h5>Algumas das centenas de empresas que já recrutaram na ProgramaThor</h5></div>
    <div>
      <img src="https://res.cloudinary.com/duposs86e/image/upload/v1733014688/f8745eced7576909c3224a4964c59169_ndmkkg.png" alt="">
    </div>

    <div>
      <div>
        <img src="https://res.cloudinary.com/duposs86e/image/upload/v1733014696/af9aaa18d9813463b8deec5de8d6be42_w4tbwi.png" alt="">
      </div>
      <div>
        <div>
          <h5>Descubra o salário médio para cada linguagem de programação.</h5>
          <p>Você gostaria de saber qual é o salário médio para cada linguagem de programação? A
            ProgramaThor coloca à sua disposição uma ferramenta que expõe a média salarial praticada no
            mercado em função da linguagem e do nível de experiência dos candidatos.</p>
        </div>
        <div>
          <button></button>
        </div>
      </div>
    </div>
  </section>

</main>