<!-- Container SideNav-->
<mat-sidenav-container class="sidenav-container" [hasBackdrop]="true">

  <mat-sidenav #sidenav mode="over" class="sidenav">
    <mat-nav-list>
      <a mat-list-item routerLink="/home">HOME</a>
      <a mat-list-item routerLink="/ver-vagas">VER VAGAS</a>
      
      <!-- Exibe 'SOU EMPRESA' somente se ninguém estiver logado -->
      <a *ngIf="!isLoggedIn" mat-list-item routerLink="/sou-empresa">SOU EMPRESA</a>

      <!-- Menu de Login/Cadastro -->
      <a *ngIf="!isLoggedIn" mat-list-item [matMenuTriggerFor]="menuLogin">LOGIN</a>
      <mat-menu #menuLogin="matMenu">
        <button mat-menu-item routerLink="/login-candidato">USUÁRIO</button>
        <button mat-menu-item routerLink="/login-empresa">EMPRESA</button>
      </mat-menu>

      <!-- Exibe 'DASHBOARD' apenas se o usuário estiver logado e for do tipo correspondente -->
      <a *ngIf="isLoggedIn && userType === 'enterprise'" mat-list-item routerLink="/dashboard-empresa">DASHBOARD</a>
      <a *ngIf="isLoggedIn && userType === 'developer'" mat-list-item routerLink="/dashboard-candidato">DASHBOARD</a>

      <!-- Exibe 'LOGOUT' somente se o usuário estiver logado -->
      <a *ngIf="isLoggedIn" mat-list-item (click)="logout()">LOGOUT</a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-toolbar color="primary">
    <div class="toolbar-content">
      <!-- Ícone de menu hambúrguer para abrir o sidenav -->
      <button mat-icon-button (click)="sidenav.toggle()" class="menu-button">
        <span class="iconify" data-icon="mdi:menu" data-inline="false"></span>
      </button>

      <!-- Logo da aplicação -->
      <a routerLink="/home">
        <img class="logo" src="https://res.cloudinary.com/duposs86e/image/upload/v1730934427/trampa-aqui-logo_za3yfx.png" alt="Trampa Aqui Logo">
      </a>

      <!-- Navegação -->
      <nav class="desktop-nav">
        <a mat-button routerLink="/home">HOME</a>
        <a mat-button class="vagas" routerLink="/ver-vagas">VER VAGAS</a>
        
        <!-- Exibe 'SOU EMPRESA' somente se ninguém estiver logado -->
        <a *ngIf="!isLoggedIn" mat-button routerLink="/sou-empresa">SOU EMPRESA</a>
        
        <!-- Botão de Dashboard, visível somente se o usuário estiver logado e for do tipo correspondente -->
        <a *ngIf="isLoggedIn && userType === 'enterprise'" mat-button routerLink="/dashboard-empresa">DASHBOARD EMPRESA</a>
        <a *ngIf="isLoggedIn && userType === 'developer'" mat-button routerLink="/dashboard-candidato">DASHBOARD CANDIDATO</a>

        <!-- Menu de Login/Cadastro -->
        <a *ngIf="!isLoggedIn" mat-button [matMenuTriggerFor]="menuCadastro" class="submenu">LOGIN</a>
        <mat-menu #menuCadastro="matMenu">
          <button mat-menu-item routerLink="/login-candidato">USUÁRIO</button>
          <button mat-menu-item routerLink="/login-empresa">EMPRESA</button>
        </mat-menu>

        <!-- Exibe 'Logout' somente se o usuário estiver logado -->
        <a *ngIf="isLoggedIn" mat-button (click)="logout()" class="submenu">LOGOUT</a>
      </nav>
    </div>
  </mat-toolbar>
</mat-sidenav-container>
