<mat-sidenav-container class="sidenav-container">
  <!-- Sidenav para dispositivos móveis -->
  <mat-sidenav #sidenav mode="over" class="sidenav">
    <mat-nav-list>
      <a mat-list-item routerLink="/ver-vagas">VER VAGAS</a>
      <a mat-list-item routerLink="/sou-empresa">SOU EMPRESA</a>
      <a mat-list-item routerLink="/login">LOGIN</a>
      <a mat-list-item routerLink="/cadastrar-se">CADASTRAR-SE</a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-toolbar color="primary">
    <div class="toolbar-content">
      <!-- Ícone de menu hambúrguer para abrir o sidenav -->
      <button mat-icon-button (click)="sidenav.toggle()" class="menu-button">
        <span class="iconify" data-icon="mdi:menu" data-inline="false"></span>
      </button>
      
      <!-- Logo da aplicação -->
      <img class="logo" src="https://res.cloudinary.com/duposs86e/image/upload/v1730934427/trampa-aqui-logo_za3yfx.png" alt="Trampa Aqui Logo">
      
      <!-- Navegação -->
      <nav class="desktop-nav">
        <a mat-button routerLink="/ver-vagas">VER VAGAS</a>
        <a mat-button routerLink="/sou-empresa">SOU EMPRESA</a>
        <a mat-button routerLink="/login">LOGIN</a>
        <a mat-button routerLink="/cadastrar-se">CADASTRAR-SE</a>
      </nav>
    </div>
  </mat-toolbar>
</mat-sidenav-container>
