<main>
  <!-- Seção principal: Chamada para contratar desenvolvedores -->
  <section>
    <div class="div-img">
      <img
        src="https://res.cloudinary.com/duposs86e/image/upload/v1734226077/Background_1_seip9n.png"
        alt=""
      />
    </div>
    <div class="overlay-text">
      <!-- Título e quantidade de programadores cadastrados -->
      <div>
        <h1>CONTRATE SEU DESENVOLVEDOR</h1>
        <p><span>+265 500</span> programadores cadastrados</p>
      </div>

      <!-- Botão de chamada para ação -->
      <button>COMECE A CONTRATAR</button>

      <!-- Informações sobre contratação e teste gratuito -->
      <div>
        <p>
          Contrate programadores Front-End, Back-End, Mobile ou Full Stack
          através do nosso site
        </p>
        <p>
          Teste a nossa solução e faça o seu próximo recrutamento sem nenhum
          custo!
        </p>
      </div>
    </div>
  </section>

  <!-- Seção de benefícios da plataforma -->
  <section class="section-quality">
    <!-- Benefício 1: Teste gratuito -->
    <div>
      <h5><mat-icon class="icon">check_circle</mat-icon>Teste 100% gratuito</h5>
      <p>
        Cadastre sua empresa na plataforma e
        <span
          >ganhe 5 vagas para divulgar oportunidade sem nenhum custo durante 30
          dias</span
        >. Encontre o programador que você procura!
      </p>
    </div>

    <!-- Benefício 2: Candidatos alinhados -->
    <div>
      <h5>
        <mat-icon class="icon">check_circle</mat-icon>Apenas candidatos
        alinhados
      </h5>
      <p>
        Nosso algoritmo garante que apenas desenvolvedores compatíveis com os
        requisitos da vaga se apliquem.
      </p>
    </div>

    <!-- Benefício 3: Economia de tempo -->
    <div>
      <h5>
        <mat-icon class="icon">check_circle</mat-icon>Economize tempo e energia
      </h5>
      <p>
        Disponibilizamos funcionalidades para otimizar o seu processo seletivo,
        como por exemplo: chat interno, fluxo de candidatos, testes voluntários,
        notificações via SMS, entre outras.
      </p>
    </div>
  </section>

  <!-- Seção: Empresas que utilizam a plataforma -->
  <section class="section-employers">
    <div>
      <h2>
        Algumas das centenas de empresas que já recrutaram na ProgramaThor
      </h2>
      <div>
        <!-- Imagem de empresa -->
        <div><img src="https://res.cloudinary.com/duposs86e/image/upload/v1734227545/logo-fgv-0de38d876b84f9af7e56d587fe3af6a5e4480f0a7050abb0bca051467e614d65.png_yt3iub.png" alt="" /></div>

        <!-- Informações sobre a ProgramaThor -->
        <div>
          <p>ProgramaThor é acelerada pela GVentures</p>
          <p>Aceleradora da FGV - Fundação Getulio Vargas.</p>
        </div>
      </div>
    </div>
  </section>

  <!-- Seção: Como funciona -->
  <section class="section-works">
    <div>
      <h2>Como funciona?</h2>

      <!-- Botão de chamada para ação -->
      <button>COMECE A CONTRATAR</button>

      <!-- Informações adicionais sobre o funcionamento -->
      <p>Sem contrato ou cartão de crédito</p>
      <p>Receba suas primeiras candidaturas em poucas horas de graça</p>
    </div>
  </section>

  <!-- Seção: Explicação detalhada da plataforma -->
<section class="section-details">
    <!-- Parte 1: Introdução e benefícios da plataforma -->
    <div class="grid-container">
      <div class="image">
        <img src="https://res.cloudinary.com/duposs86e/image/upload/v1734227740/135aca451409c5c52a7da3da606bf032_zjjllr.png" alt="">
      </div>
      <div class="text">
        <h5>Sua empresa está em busca de contratar os melhores programadores do mercado?</h5>
        <p>Com ProgramaThor, contrate os melhores talentos de tecnologia para a sua empresa!</p>
        <p>A ProgramaThor é uma startup 100% voltada para a divulgação de vagas de programadores.</p>
        <p>Nosso objetivo é que esse caminho seja simples, eficiente e rápido, através do uso de tecnologias que possibilitam elencar somente candidatos alinhados com as necessidades da empresa.</p>
      </div>
    </div>
  
    <!-- Parte 2: Revisão das vagas -->
    <div class="grid-container">
      <div class="text">
        <h5>Nosso time de TI vai revisar sua vaga.</h5>
        <p>Nosso time composto por especialistas em TI analisará a descrição da vaga cadastrada, a fim de garantir que a sua publicação resultará na candidatura dos profissionais adequados.</p>
        <p>Esse time acompanhará todo o processo, garantindo que, se necessário, sua empresa será comunicada sobre ajustes na descrição da vaga.</p>
      </div>
      <div class="image">
        <img src="https://res.cloudinary.com/duposs86e/image/upload/v1734227739/132f6d2660f8f78b5533fcfab0173715_nuujaf.png" alt="">
      </div>
    </div>
  
    <!-- Parte 3: Algoritmo inteligente -->
    <div class="grid-container">
      <div class="image">
        <img src="https://res.cloudinary.com/duposs86e/image/upload/v1734227739/dd18f15c270a6e0d2e5432cab05d46e8_vt5vsa.png" alt="">
      </div>
      <div class="text">
        <h5>Deixa rodar nosso algoritmo.</h5>
        <p>Nossa inteligência artificial mapeia programadores cadastrados e identifica perfis alinhados às necessidades da vaga.</p>
        <p>Mais de <span>265.500</span> profissionais de TI cadastrados!</p>
      </div>
    </div>
  
    <!-- Parte 4: Processo seletivo em um só lugar -->
    <div class="grid-container">
      <div class="text">
        <h5>Todo o seu processo seletivo em um só lugar.</h5>
        <p>Marque candidatos como “aprovado”, “favoritado” ou “recusado” e comunique-se diretamente via nossa plataforma.</p>
        <p>Apenas candidatos com mais de 50% de compatibilidade poderão se aplicar, resultando em um filtro automático eficaz.</p>
      </div>
      <div class="image">
        <img src="https://res.cloudinary.com/duposs86e/image/upload/v1734227736/ats_vaga_programador-ea3d3e2066b5d5d6406056c9dfc0699cc164af9ecb5b6a79e554a27184d3ac27.png_us5jmj.png" alt="">
      </div>
    </div>
  
    <!-- Parte 5: Suporte ao cliente -->
    <div class="grid-container">
      <div class="image">
        <img src="https://res.cloudinary.com/duposs86e/image/upload/v1734227736/1d1b9f832c28a3319c0b258a4ea0ef1c_j8oced.png" alt="">
      </div>
      <div class="text">
        <h5>Nosso time de suporte está sempre à disposição!</h5>
        <p>Atendimento humano para resolver problemas e maximizar resultados.</p>
        <p>Experimente nosso teste gratuito: divulgue até 5 vagas em 30 dias, sem custo!</p>
      </div>
    </div>
  </section>
  
  <section class="section-works">
    <div>
      <button>COMECE A CONTRATAR</button>

      <p>Sem contrato ou cartão de crédito</p>
      <p>Receba suas primeiras candidaturas em poucas horas de graça</p>
    </div>
  </section>
</main>
