.card {
  display: grid;
  grid-template-columns: auto 1fr;
  max-width: 56.25rem;
  margin: .625rem auto;
  padding: .625rem;
  border-radius: .5rem;
  box-shadow: 0 .25rem .5rem rgba(0, 0, 0, 0.2);
  font-family: Arial, sans-serif;
  background-color: #ffffff;
  align-items: center;
  gap: 1.25rem;
}

.card-img img {
  width: 6.25rem;
  height: auto;
}

.card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left; /* Alinha o texto à esquerda */
}

.card h2 {
  font-size: 1.25rem;
  margin: 0.625rem 0;
}

.card p {
  font-size: 1rem;
  color: #555;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card button {
  text-align: center;
  width: 12.5rem;
  padding: 0.625rem 1.25rem;
  color: white;
  background-color: #007BFF;
  border: none;
  border-radius: 0.3125rem;
  cursor: pointer;
  font-size: 1rem;
  margin-top: 0.625rem;
}

.card button:hover {
  background-color: #0056b3;
}
