<header>
    <img src="https://res.cloudinary.com/duposs86e/image/upload/v1734805892/Background_2_uhwpi3.png" alt="">
    <div>
        <div>
            <h3>Vagas para Programadores e Desenvolvedores</h3>
        </div>
        <div>
            <p>Domina alguma linguagem de programação (Front-End, Back-End, Mobile ou Full Stack)?
                Quer ser contratado como freelancer (PJ), estagiário ou CLT?
                Então você está no lugar certo!</p>
        </div>
        <div><input type="text"></div>
    </div>
</header>

<main>
    <section>
        <div class="api-link"></div>
    </section>
    <section>
        <div>
            <div></div>
            <div></div>
        </div>
    </section>
</main>