<header>
    <div class="div-img">
        <img src="https://res.cloudinary.com/duposs86e/image/upload/v1734805892/Background_2_uhwpi3.png"
            alt="Imagem de fundo">
    </div>
    <div class="dev-job">
        <div class="dev-job-title">
            <p>Vagas para Programadores e Desenvolvedores</p>
        </div>
        <div class="dev-job-subtitle">
            <p>Domina alguma linguagem de programação (Front-End, Back-End, Mobile ou Full Stack)?</p>
            <p>Quer ser contratado como freelancer (PJ), estagiário ou CLT?</p>
            <p>Então você está no lugar certo!</p>
        </div>
        <div class="search-bar">
            <span>
                <label for="search"><mat-icon>search</mat-icon></label>
                <input id="search" type="text" placeholder="Todas as skills" />
            </span>
        </div>
    </div>
</header>

<main>
    <section>
        <div class="api-link"></div>
    </section>
    <section>
        <div>
            <div></div>
            <div></div>
        </div>
    </section>
</main>