<div class="login-container">
    <h2>Login como candidato</h2>
    <p> Feito por: {{nome}} </p>
    <mat-tab-group>
      <mat-tab label="Log In">
        <form class="login-form">
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>E-mail</mat-label>
            <input matInput type="email" placeholder="Seu e-mail" />
          </mat-form-field>
  
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Senha</mat-label>
            <input matInput type="password" placeholder="******" />
            <button mat-icon-button matSuffix tabindex="-1">
              <mat-icon>visibility</mat-icon>
            </button>
          </mat-form-field>
  
          <div class="forgot-password">
            <a href="#">Esqueceu sua senha?</a>
          </div>
  
          <button mat-raised-button color="primary" class="full-width" (click)="onButtonClick()">
            Login
          </button>
        </form>
      </mat-tab>
  
      <mat-tab label="Cadastre-se">
        <form class="cadastro-form">
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>*E-mail</mat-label>
            <input matInput type="email" placeholder="Seu e-mail" />
          </mat-form-field>
  
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>*Senha</mat-label>
            <input matInput type="password" placeholder="******" />
          </mat-form-field>

          <mat-form-field appearance="outline" class="full-width">
            <mat-label>*Senha confirmação</mat-label>
            <input matInput type="password" placeholder="******" />
          </mat-form-field>
          <button mat-raised-button color="primary" class="full-width">
            Criar conta
          </button>

        </form>
      </mat-tab>
    </mat-tab-group>
  
    <div class="footer-link">
      <a href="#">Eu sou uma empresa ></a>
    </div>
  </div>
  