.div-img img {
  width: 100%; /* Ajuste o valor conforme necessário */
  max-width: 1400px; /* Define um tamanho máximo opcional */
  height: auto; /* Mantém a proporção da imagem */
  display: block; /* Centraliza a imagem */
}
