<div class="div-img">
  <img src="https://res.cloudinary.com/duposs86e/image/upload/v1730950824/devs_dz1go7.png" alt="Devs">
  <div class="overlay-text">
    <h1>OPORTUNIDADES PARA PROGRAMADOR</h1>
    <button class="btn-vagas">VER NOSSAS VAGAS</button>
    <p>Tenha acesso a diversas oportunidades para desenvolvedores. Encontre a vaga para programador(a) Front-End, Back-End, Mobile ou Full Stack que você estava procurando.</p>
  </div>
</div>

<div class="vaga-container">
  <h3>Nossas últimas vagas!</h3>

  <div class="vaga-grid">
    <!-- Card 1 -->
    <mat-card class="vaga-card">
      <mat-card-header>
        <div mat-card-avatar class="vaga-avatar">
          <!-- Imagem do logo da empresa -->
          <img src="https://res.cloudinary.com/duposs86e/image/upload/v1731018683/hpcugjkjnvtbpzlzhx1q.jpg_ktaoll.png" alt="Logo Empresa">
        </div>
        <mat-card-title>Desenvolvedor(a) Flutter / React</mat-card-title>
        <mat-card-subtitle>Capitan Group</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>Capitan Group - Grande empresa</p>
        <p>Home Office</p>
        <p>Salário: R$3K</p>
        <div class="tags">
          <span class="tag">Q1</span>
          <span class="tag">React Native</span>
          <span class="tag">Flutter</span>
        </div>
      </mat-card-content>
