<!-- <mat-toolbar color="primary" class="footer">
  <div class="footer-content">
    <span class="footer-text">
      TrampaAqui © 2024 - Todos os direitos reservados
    </span>
  </div>
</mat-toolbar> -->

<mat-toolbar color="primary" class="footer">
  <div class="footer-content">
    <div class="social-icons">
      <a href="https://www.linkedin.com" target="_blank">
        <span class="iconify" data-icon="cib:linkedin" data-inline="false"></span>
      </a>
      <a href="https://www.instagram.com" target="_blank">
        <span class="iconify" data-icon="cib:instagram" data-inline="false"></span>
      </a>
      <a href="https://www.tiktok.com" target="_blank">
        <span class="iconify" data-icon="cib:tiktok" data-inline="false"></span>
      </a>
      <a href="https://www.facebook.com" target="_blank">
        <span class="iconify" data-icon="cib:facebook" data-inline="false"></span>
      </a>
      <a href="https://x.com/" target="_blank">
        <span class="iconify" data-icon="cib:twitter" data-inline="false"></span>
      </a>
    </div>
    <span class="footer-text">
      TrampaAqui © 2024 - Todos os direitos reservados
    </span>
  </div>
</mat-toolbar>
